body{
    margin: 40%;
    margin-top: 3%;
}
li{
    display: inline;
}
ul{
    list-style: none;
}

.key{
    border: 1px solid lightgray;
    padding: 5px;
   
}


.pass{
    display: flex;
    justify-content:space-between;
}
.new{
    display: flex;
    align-items: center;

}
.newhr{
    width: 60px;
    height: 0px;

}
#continue{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 183, 0);
    border-color: rgb(255, 183, 0);
}
#pwd{
    width: 230px;
}
#ema{
    width: 230px;
}